@font-face {
  font-family: 'Roboto-R';
  src: url('fonts/Roboto-R.ttf');
}

@font-face {
  font-family: 'Sohne-B';
  src: url('fonts/SOHNE-B.otf');
}


html {
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

@font-face {
  font-family: 'Sohne';
  src: url('fonts/SOHNE.woff2');
}

html,body{
  width:100%;
  height:100%;
}

@keyframes rotate {
  100% {
     transform: rotate(360deg)
  }
}

.top-outer {
  transform-origin: 73px 69px;
  animation: rotate 30s linear infinite;
}

.top-inner {
  transform-origin: 73px 69px;
  animation: rotate 20s linear infinite;
}

.bottom-outer {
  transform-origin: 134px 222px;
  animation: rotate 30s linear infinite;
}

.bottom-inner {
       transform-origin: 134px  222px;
       animation: rotate 20s linear infinite;
}

.test {
  width: 100%;
	height: 100%;
}
svg {
	width: 100%;
	height: 100%;
  position: absolute;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}

.ctn {
  height: 200%;
}

.presentation {
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-block;
}

.presentation .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  color: rgb(0, 0, 0);
}

#discover-album {
  background-color: #181818;
  height: 50%;
}

.brand {
  font-family: 'Sohne';
  font-size: 8em;
  align-items: flex-end;
}

.carousel {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

#carousel-edit {
  padding-top: 2%;
}

.playsound-btn {
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

button {
  font-family: 'Sohne';
}

button:hover {
  cursor: pointer;
}

.presentation #down-arrow {
  margin-top: 5%;
  height: 80px;
  border-radius: 30px;
  background-color: rgba(185, 185, 185, 0.74);
}

.presentation #down-arrow:hover{
  background-color: rgba(185, 185, 185, 0.74);
  filter: invert(37%) sepia(99%) saturate(3042%) hue-rotate(239deg) brightness(102%) contrast(102%);
  border-radius: 30px;
  cursor: pointer;
}

#status {
  height: 24px;
  margin-right: 10px;
}

#listenning {
  text-align: center;
  color: white;
}

#playing {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#week-discovery {
  margin-top: 0;
  padding-top: 2%;
  text-align: center;
  color: white;
  font-family: 'Sohne-B';
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#img-damso, #img-khali, #img-luther {
  max-width: 50%;
}

#volume {
  display: block;
  margin: 0 auto;
}